<link rel="stylesheet" href="{{ 'recently-viewed.css' | asset_url }}">
<script src="{{ 'recently-viewed.js' | asset_url }}" defer="defer"></script>
<section 
class="recently-viewed container"  
style="padding:{{ section.settings.padding-recently }}px 80px"
>
    <div class="heading-recently">{{ section.settings.heading-view }}</div>
    <div class="swiper swiper-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide viewed-product">
                <div class="img-product-viewed">
                    {{ product.images | image_url: width: 3840 | image_tag:
                    loading: 'lazy',
                    class: 'img-banner-desk' , 
                    alt: ""
                    }}
                </div>
                <div class="infor-product">
                    <p class="product-title">
                        <a href="{{ url }}">{{ product.title }}</a>
                    </p>
                    <span class="current-price">{{ product.price }}</span>
                    {% if onSale %}
                      <span class="old-price">{{ product.compare_price }}</span>          
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section> 