<section 
class="recently-viewed container"  
style="padding:{{ section.settings.padding-recently }}px 0"
>
    <div class="heading-recently">{{ section.settings.heading-view }}</div>
    <div class="swiper swiper-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide viewed-product">
                <div class="img-product-viewed">
                    {{ images | image_url: width: 3840 | image_tag:
                    loading: 'lazy',
                    class: 'img-banner-desk' , 
                    alt: ""
                    }}
                </div>
                <div class="infor-product">
                    <span class="current-price">{{price}}</span>
                    {% if onSale %}
                      <span class="old-price">{{ compare_price }}</span>          
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
