<link rel="stylesheet" href="{{ 'rbt-style.css' | asset_url }}">
<script src="{{ 'swiper-banner.js' | asset_url }}" defer="defer"> </script>
<section 
style="background-color: {{ section.settings.color-fill-bg }};"
class="rbt"
>
        <div class="swiper swiper-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="{{ section.settings.rbt-slide1-url }}">
                        {{ section.settings.rbt-slide1 | escape }}
                        {% render 'arrowcounter' %}
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="{{ section.settings.rbt-slide2-url }}">
                        {{ section.settings.rbt-slide2 | escape }}
                        {% render 'icon-truck' %}
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="{{ section.settings.rbt-slide3-url }}">
                        {{ section.settings.rbt-slide3 | escape }}
                        {% render 'icon-celanderbank' %}
                    </a>
                </div>
            </div>
        </div>
</section>

{% schema %}
    {
        "name":"rbt",
        "class":"rbt",
        "settings": [
            {
                "type": "color",
                "id": "color-fill-bg",
                "label": "Color fill background"
            },
            {
                "type": "color",
                "id":"color-fill-text",
                "label": "Color fill text"
            },
            {
                "type":"text",
                "id":"rbt-slide1",
                "default": "Easy Returns",
                "label":"Rbt text 1"
            },
            {
                "type":"url",
                "id":"rbt-slide1-url",
                "label":"Rbt url 1"
            },
            {
                "type":"text",
                "id":"rbt-slide2",
                "default": "Spend $79+ and your order ships free",
                "label":"Rbt text 2"
            },
            {
                "type":"url",
                "id":"rbt-slide2-url",
                "label":"Rbt url 2"
            },
            {
                "type":"text",
                "id":"rbt-slide3",
                "default": "Book a Fitting",
                "label":"Rbt text 3"
            },
            {
                "type":"url",
                "id":"rbt-slide3-url",
                "label":"Rbt url 3"
            }
        ],
        "presets": [
            {
                "name": "rbt"
            }
        ]
    }
{% endschema %}