<link rel="stylesheet" href="{{ 'recently-viewed.css' | asset_url }}">
<script src="{{ 'recent-product.js' | asset_url }}" defer="defer"> </script>
<section 
class="container recently-viewed"
style="padding: {{ section.settings.padding-recently-viewed }}px 80px;"
paginate="{{ section.settings.paginate-recently }}">
  <h3 class="heading-recently">{{ section.settings.heading | escape }}</h3>
  <div class="swiper swiper-recently-viewed">
        <div class="swiper-wrapper product-viewed">
           
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Recent Products",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "default": "Recently Viewed",
        "label": "Title"
      }, {
        "type": "number",
        "id": "paginate-recently",
        "label": "Paginate recently"
      }, {
        "type": "range",
        "id": "padding-recently-viewed",
        "default": 80,
        "min": 0,
        "max": 100,
        "label": "Padding recently"
      }
    ],
    "presets": [
      {
        "name": "Recent Products"
      }
    ]
  }
{% endschema %}