<section class="topmenu">
    <div class="swiper swiper-slider swiper-topmenu container">
        <div class="swiper-wrapper topmenu-custom-height-desk">
            <div class="pickup swiper-slide resp">
                {% render 'icon-house' %}
                <p>{{ section.settings.text-pickup }}</p>
                <a href="{{ section.settings.pickup-link }}">{{ section.settings.pickup-button }}</a>
            </div>
                <a class="announcement swiper-slide resp" href="{{ section.settings.link-announcement }}">{{ section.settings.text-announcement }}</a>
            <div class="support swiper-slide resp">
                {% render 'icon-question' %}
                <a href="{{ section.settings.link-support }}">{{ section.settings.text-support }}</a>
            </div>
        </div>   
    </div>
</section>
{% schema %}
    {
        "name":"topmenu",
        "class":"topmenu",
        "settings":[
            {
            "type": "text",
            "id":"text-pickup",
            "default":"In-store pickup:",
            "label": "Pickup text"
            },
            {
            "type":"url",
            "id": "nav-url",
            "label": "Url"
            },
            {
            "type": "text",
            "id":"pickup-button",
            "default":"Select store",
            "label": "Pickup text button"
            },{
            "type": "url",
            "id":"pickup-link",
            "label": "Pickup link"
            },
            {
                "type": "text",
                "id":"text-announcement",
                "default":"Buy 1 get 1 50% off almost everything!",
                "label": "Announcement text"
            },{
                "type": "url",
                "id":"link-announcement",
                "label": "Announcement link"
            },{
                "type": "text",
                "id":"text-support",
                "default":"Customer Support",
                "label": "Support text"
            },{
                "type": "url",
                "id":"link-support",
                "label": "Support link"
            }
        ]
    }
{% endschema %}