{{ 'mega_menu.css' | asset_url | stylesheet_tag }}
{% comment %} {{ 'test.css' | asset_url | stylesheet_tag }} {% endcomment %}
<section class="topmenu">
    <div class="container">
        <a class="announcement" href="{{ section.settings.link-announcement }}">{{ section.settings.text-announcement }}</a>
        <div class="support">
            {% render 'icon-question' %}
            <a href="{{ section.settings.link-support }}">{{ section.settings.text-support }}</a>
        </div>
    </div>
</section>

{% schema %}
    {
        "name":"topmenu",
        "class":"topmenu",
        "settings":[
            {
                "type": "text",
                "id":"text-announcement",
                "default":"Buy 1 get 1 50% off almost everything!",
                "label": "Announcement text"
            },{
                "type": "url",
                "id":"link-announcement",
                "label": "Announcement link"
            },{
                "type": "text",
                "id":"text-support",
                "default":"Customer Support",
                "label": "Support text"
            },{
                "type": "url",
                "id":"link-support",
                "label": "Support link"
            }
        ]
    }
{% endschema %}